.SeriesTendances{
    height: 200vh;
}


.SeriesTendances h1.titre{
    width: 617px;
    margin-left: 5%;
    margin-top: 2%;
    border-bottom: 4px solid rgb(255, 222, 7);
    font-size: 5em;
}
.Tendance{
    display: flex;
    flex-wrap: wrap;
    margin-left: 6%;
    width: 1900px;
    gap: 5%;
    margin: 2% auto;
    
}
.Tendance div.Serie {
    width: 300px;
    
}

.Tendance img.poster{
    width: 100%;
    margin-bottom: 20%;
    transition: 0.5s;
  
}

.Tendance img.poster:hover{
    width: 113%;
    transition: .5s;
}


.detailsSerie{
    padding-top: 3%;
    width: 1024px;
    margin: 0 auto ;
    background-color: rgb(43, 43, 42);
    border-radius: 5%;
    position: fixed;
    top: 0%;
    left: 30%;
}

div.backdrop_hidden{
    display: none;
}

.Series-fav h1.titre{
    width: 378px;
    margin-left: 10.5%;
    margin-top: 5%;
    border-bottom: 4px solid rgb(255, 222, 7);
    font-size: 4em;
}
.fav{
    display: flex;
    flex-wrap: wrap;
    margin-left: 6%;
    width: 1900px;
    gap: 5%;
    margin: 2% auto;
}
.fav div.Serie{
    width: 300px;
}

.fav img.poster{
    width: 100%;
    margin-bottom: 20%;
    transition: 0.5s;
}
div.RechercheSeries input.inputRecherche{
    width: 22em;
    height: 2em;
    position: relative;
    left: 82.3%;
    margin-top: 5%;
}
.RechercheSeries h1.titre{
    width: 378px;
    margin-left: 5%;
    margin-top: 2%;
    border-bottom: 4px solid rgb(255, 222, 7);
    font-size: 4em;
}
.Recherche{
    display: flex;
    flex-wrap: wrap;
    margin-left: 6%;
    width: 1900px;
    gap: 5%;
    margin: 2% auto;
}
.Recherche div.Serie{
    width: 300px;
}

.Recherche img.poster{
    width: 100%;
    margin-bottom: 20%;
    transition: 0.5s;
}

.Tendance img.poster:hover{
    width: 110%;
    transition: .5s;
}


