div.nom{
    text-align: center;
}

div.photo{
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 50px;
}

div.nbFav{
    text-align: center;
}

div.profil{
    margin: 7% auto;
    background-color: rgb(33, 32, 32);
    width: 30%;
    height: 600px;
    padding-top: 4%;
    border-radius: 10%;
}

div.Deco{
    font-size: 5em;
    margin-left: 5%;;
    position: relative;
    bottom: 50px;
    left: 50px;
    width: 10%;
}

div.Deco a.lien{
    width: 50px;
}